body {
  background-color: navajowhite
}

.addColor {
  color: blue;
}

.makeBigger {
  font-size: 3em;
}

.addBorder {
  border: 2px dotted darkgreen;
  display: inline;
}

.makeRound {
  border-radius: 20px;
}

/*
Make the buttons stop appearing next
to each other as inline elements.
Change them into block elements.
*/
button {
  display: block;
}

/*
The first section's
text should be bold
*/
section:first-child {
  font-weight: bold;
}
/*
The last section's text
should be bold and italicized
*/
section:last-child {
  font-weight: bold;
  font-style: italic;
}